* {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

.main_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 32px;
}

.panel1 {
  grid-area: 1 / 1 / 3 / 2;
}

.panel2 {
  grid-area: 1 / 2 / 2 / 4;
}

.panel3 {
  grid-area: 2 / 2 / 3 / 4;
}
