.update_container {
  --close_btn_len: 24px;

  --form_width: 24vw;
  --field_form_len: 48px;
}

.update_title {
  display: flex;
  gap: 10vh;
  margin-bottom: 2vh;
}

.update_close_btn {
  width: var(--close_btn_len);
  height: var(--close_btn_len);

  border: 1px black solid;
  border-radius: 8px;

  background-color: white;
}

.update_close_btn:hover {
  background-color: lightgray;
}

.update_form {
  width: var(--form_width);
}

.update_field {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 1vw;
  grid-row-gap: 2vh;

  align-items: center;
}

.update_field > label {
  grid-area: 1 / 2 / 2 / 3;
}

.update_field > label {
  grid-area: 1 / 1 / 2 / 2;
}

.error_box {
  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0.9;
  background-color: rgb(255, 208, 208);
  color: crimson;

  border: 2px solid crimson;
  border-radius: 16px;

  width: 25vw;
}
